body {
  padding-top: 88px;
}

h1 {
    font-family: 'Courier New', monospace;
    padding: 10px;
  }

  h2 {
    font-family: 'Courier New', monospace;
    padding: 10px;
  }

  .active {
    background-color: #717171;
  }

  .container { max-width: 1400px}
  .photo { max-width: 400px}