.active {
    background-color: #f7dddc;
    color: #000 !important;
  }

h1 {
  font-family: 'Courier New', monospace;
  padding: 10px;
}

#myCarousel {
  margin-top: 55px;
}

.carousel-inner {
  max-height: 600px;
}
