.menulink {
    font-family: 'Courier New', monospace;
    font-size: large;
    padding: 10px;
  }

  h1 {
    font-family: 'Courier New', monospace;
    padding: 10px;
  }

  h2 {
    font-family: 'Courier New', monospace;
    padding: 10px;
  }